/* 10/15/2015 */

#logo {
    position:relative;
    bottom:45%;
    height:2em;
}

.right-align {
	text-align:right;
}

#footer_box {
	background-color:#F2EFE9;
	display:-webkit-box;
	height:5em;


}

#footer_box a {
	position:relative;
	left:200%;
	width:100%;
	text-align:center;

}

